.post-content {
    display: flex;
    gap: 12px;

    /* line-height: 1.5em; */
}

.post-content__text {
    font-size: 14px;
    color: #000;
}

.post-content__date {
    color: #888888;
    font-size: 14px;
}

.post-content__username {
    font-weight: bold;
    font-size: 14px;
    color: #000;
}